@model DataLayer.User

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       

        <div class="form-group">
            @Html.LabelFor(model => model.bloodGroup, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.bloodGroup, (IEnumerable<SelectListItem>)ViewBag.BloodGroupDrop)
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.division, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.division, (IEnumerable<SelectListItem>)ViewBag.DivisionDrop)
            </div>
        </div>

       
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

